/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.legend {
  margin-bottom: 20px;
}

.legend h3 {
  margin-bottom: 10px;
}

.legend ul {
  list-style-type: none;
  padding: 0;
}

.legend li {
  margin-bottom: 5px;
}

.legend li::before {
  content: "●";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

/* Color definitions */
.legend li.Male::before {
  color: blue;
}

.legend li.Female::before {
  color: pink;
}

.legend li.SpecialNeeds::before {
  color: purple;
}

.legend li.Blocked::before {
  color: grey;
}
.legend li.Open::before {
  color: green;
}
